* {
    margin: 0;
    padding: 0;
}

.header {
    height: 700px;
    background-color: #abeafa;
}

.footer {
    height: 350px;
    background-color: #373737;
}

/* GREED */

.grid_12 {
    width: 100%;
}

.grid_4 {
    width: 33%;
}

.grid_3 {
    width: 25%;
}

.grid_2 {
    width: 17%;
    
    background-image: 
}