body {
    background-color: #fff;
    text-align: center;
}

/* MENU */

.menu {
    list-style-type: none;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: #037;
    font-size: 1.2em;
    font-family:sans-serif;
}

.menu a:hover {
    text-decoration: none;
    color: #F77;
    font-size: 1.2em;
    font-family:sans-serif;
}

header img {
    width: 200px;
}

/* MAIN PAGE */

h1 + img {
    height: 300px;
}

.index>p {
    font-size: 1.3em;
}

/* Каталог */

.catalog a {
    text-decoration: none;
    color: #037;
}

.preview {
    height: 150px;
}

/* Контакты */

form * {
    color: #048;
    font-size: 14px; 
    text-transform: capitalize;
}

input {
    width: 250px;
    height: 20px;
}

textarea {
    width: 248px;
    height: 150px;
}

input[type='submit'] {
    width: 255px;
}
    
.contacts p {
    color: #404040;
    font-size: 14px;
}

#email:focus {
    color: #F77;
    background: #ddd;
}

.map {
    width: 400px;
    margin: auto;
}

/* Описание товаров */

.content {
    width: 900px;
    margin: auto;
}

.product h3:first-letter, .product p:first-letter {
    font-size: 1.2em;
    color: #037;
}

.product h3 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.border-img {
    outline: 1px solid #026;
}

.border-img:hover {
    outline: 0;
}

.short-description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.characteristics {
    color: #545454;
    font-size: 15px;
    font-family: monospace;
    list-style-type: none;
}

.detailed-description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 900px;
    margin: auto;
}

.size-table caption {
    font-size: 1.2em;
}

.size-table {
    border: 1px solid;
    margin: 10px auto 20px;
}

.product th {
    height: 30px;
}

.product tr:nth-child(odd) {
    background: #CCC;
}